@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Droid Serif';
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

li {
  margin-bottom: 10px;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
  background-color: rgb(250, 250, 250) !important;
}

.remark-code {
  width: fit-content;
  font-size: 20px;
}

.remark-slide-content {
  background-color: rgb(250, 250, 250) !important;
}

img {
  max-height: 600px;
  max-width: 750px;
}

.watermark-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    height: 35px;
    opacity: .5;
    width: 100%;
    text-align: left;
    padding-left: 25px;
}

.watermark-middle {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    height: 35px;
    opacity: .5;
    width: 100%;
    text-align: center;
}

.cols {
  display: flex;
}

.fifty {
  flex: 50%;
}

.padding {
  padding: 50px 200px;
}

.hidden {
  opacity: 0;
}

.remark-code-span-highlighted {
  padding: 0;
}
