/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url(/assets/fonts/UbuntoMono-Italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(/assets/fonts/UbuntuMono-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(/assets/fonts/UbuntuMono-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(/assets/fonts/UbuntuMono-Regular-Ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(/assets/fonts/UbuntuMono-Bold-Ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url(/assets/fonts/DroidSerif-Italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif Regular'), local('DroidSerif-Regular'), url(/assets/fonts/DroidSerif-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(/assets/fonts/DroidSerif-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(/assets/fonts/YanoneKaffeesatz-Regular-Ext.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(/assets/fonts/YanoneKaffeesatz-Regular-Ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 700;
  src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'), url(/assets/fonts/YanoneKaffeesatz-Bold-Ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 700;
  src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'), url(/assets/fonts/YanoneKaffeesatz-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: emoji;
  src: url("/assets/fonts/emoji.otf")
  format("opentype");
}

html.remark-container body.remark-container.remark-presenter-mode div.remark-notes-area div.remark-bottom-area div.remark-notes-current-area {
  font-size: 25px;
}
html.remark-container body.remark-container.remark-presenter-mode div.remark-notes-area div.remark-bottom-area div.remark-notes-preview-area {
  font-size: 25px;
}

.emoji {
  font-family: 'emoji';
}

body {
  font-family: 'Droid Serif';
}

h1, h2, h3, h4 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-slide-content h1 {
  font-size: 80px;
  margin-block-start: 0em;
  margin-block-end: 0.3em;
}

.remark-slide-content h2 {
  font-size: 40px;
}

.headline h1 {
  font-size: 200px;
}

.headline h2 {
  font-size: 130px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.headline h3 {
  font-size: 105px;
  padding-top: 40px;
  margin: 0px;
}

.headline h4 {
  font-size: 85px;
  margin: 0px;
}

.headline h5 {
  font-size: 25px;
  margin: 0;
}

th {
  font-size: 25px;
  padding: 10px;
}

td {
  padding: 10px;
}

li {
  margin-bottom: 10px;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
  background-color: transparent !important;
}

.remark-code {
  width: fit-content;
  font-size: 20px;
}

.code-large .remark-code {
  font-size: 28px;
}

.remark-slide-content {
  background-attachment: fixed;
  background-size: contain;
  background-position: 0 0;
}

.max-img-width-940 img {
  max-height: 475px;
  max-width: 940px;
}

.img-width-940 img {
  max-width: 940px;
  max-height: 850px;
}

img {
  max-height: 500px;
  max-width: 850px;
}

.red {
  color: red;
}

.fullscreen-image img {
  height: 600px;
  max-width: 1050px;
}

.watermark-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    height: 35px;
    opacity: .5;
    width: 100%;
    text-align: left;
    padding-left: 25px;
}

.watermark-middle {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    height: 35px;
    opacity: .5;
    width: 100%;
    text-align: center;
}

.gotober-intro .watermark-left {
  display: none;
}

.gotober-intro .watermark-middle {
  display: none;
}

.gotober-intro .remark-slide-number {
  display: none;
}

.gotober-outro .watermark-left {
  display: none;
}

.gotober-outro .watermark-middle {
  display: none;
}

.gotober-outro .remark-slide-number {
  display: none;
}

.cols {
  display: flex;
}

.twentyfive {
  flex: 25%;
}

.fifty {
  flex: 50%;
}

.padding {
  padding: 50px 200px;
}

.hidden {
  opacity: 0;
}

.remark-code-span-highlighted {
  padding: 0;
}

.remark-slide {
}
