@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Droid Serif';
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
  background-color: #F0F0F0 !important;
}

.remark-slide-content {
  background-color: #F0F0F0;
}

img {
  max-height: 600px;
  max-width: 750px;
}

.watermark {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    height: 35px;
    opacity: .5;
    width: 100%;
    text-align: left;
    padding-left: 25px;
}

.elixir {
  width: fit-content;
  margin: 0 auto;
  font-size: 20px;
}
